.layout {
    height: 100%;
    position: relative;
    .text-box {
        font-size: 22px;
        position: absolute;
        background: #e2dfdf;
        width: calc(100% - .6em);
        height: 50%;
        margin: .3em;
        border-radius: 5px;
        box-shadow: 1px 1px 0 #d0caca;
        overflow-y: scroll;
        p {
            margin: 0;
            padding: 1em;
            text-align: right;
            color: white;
            border: 1px solid white;
            min-height: 25%;
            &:last-of-type {
                border-bottom: none;
            }
        }
    }
    .calculator {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 48%;
        display: flex;
        align-items: flex-end;
        .mgrid {
            width: 100%;
            height: 100%;
        }
        .row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 .3em;
            height: 20%;
            &:last-of-type {
                padding-bottom: .3em;
                button {
                    &:last-of-type {
                        background: orange;
                    }
                }
            }
    
            button {
                width: 24%;
                font-size: 22px;
                margin-top: .3em;
                min-height: 30px;
                border-radius: 3px;
                color: white;
                min-height: 40px;
                background-color: #a09c9c;
                display: flex;
                align-items: center;
                justify-content: center;
                user-select: none;
                height: 90%;
                &:focus {
                   outline: none;
                }
            }
            .active {
                background: #aba0a0;
                box-shadow: 2px 2px 0 #eee;
            }
        }
    }
}