<ion-header>
  <ion-toolbar>
    <ion-title>
      承兑贴现计算器
    </ion-title>
    <!-- <button class="tool btn" (tap)="skipToTools()">
      <span class="iconfont icon-gongjuxiang"></span>
    </button> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="layout">
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="{{item.value}}" tappable (click)="segmentChanged(item)" *ngFor="let item of list">
        {{item.text}}
      </ion-segment-button>
    </ion-segment>

    <ion-input padding clearInput="true" class="finput" placeholder="备注（选填）" type="number" [(ngModel)]="remark"></ion-input>
    <ion-list>
      <ion-item *ngFor="let item of formlist">
        <ion-label color="primary">{{item.label}}</ion-label>
        <ion-input padding-left clearInput="true" type="number" (ionBlur)="calculate(item)" placeholder="{{item.holder}}"
          [(ngModel)]="item.value"></ion-input>
        <span item-end>{{item.unit}}</span>
      </ion-item>
      <ion-item>
        <ion-label color="primary">贴现日</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD" min="2019-01-01" max="2020-12-31" cancelText="取消" doneText="确定"
          [(ngModel)]="dateStart" (ngModelChange)="onPick()"></ion-datetime>
        <span [class.red]="isStartRed" item-end> {{holidayStart}} {{startDay}}</span>
      </ion-item>
      <ion-item>
        <ion-label color="primary">到期日</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD" cancelText="取消" doneText="确定" min="2019-01-01" max="2020-12-31"
          (ngModelChange)="onPick()" [(ngModel)]="dateEnd"></ion-datetime>
        <span [class.red]="isEndRed" item-end> {{holidayEnd}} {{endDay}}</span>
      </ion-item>
    </ion-list>
    <div class="cards">
      <ion-item>
        <ion-label>调整天数</ion-label>
        <div class="right" item-end>
          <ion-icon ios="ios-remove-circle-outline" md="md-remove-circle-outline" tappable (click)="onIncres()"></ion-icon>
          <span [class.red]="addDay">{{addDay}}</span>
          <ion-icon md="md-add-circle-outline" ios="ios-add-circle-outline" tappable (click)="onAdd()"></ion-icon>
        </div>
      </ion-item>
      <div class="mgrid">
        <div class="mrow" *ngFor="let items of cards">
          <div class="mcol" *ngFor="let item of items">
            <h5>{{item.title}}
              <ion-icon md="md-add-circle-outline" class="add" ios="ios-add-circle-outline" tappable (click)="onSkip(item)"
                *ngIf="item.canAdd"></ion-icon>
            </h5>
            <div class="cont">
              <span>{{item.value}}</span>
              <span>{{item.unit}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ion-fab class="mfab" bottom>
    <button ion-fab *ngFor="let item of footerList" (tap)="getTools(item, btn)" #btn>
      <span class="{{'fabtn iconfont icon-' + item.icon}}"></span>
      <span class="fabtn">{{item.text}}</span>
    </button>
  </ion-fab>
</ion-content>
