   page-home {

     // .mform {
     //   margin-top: 5.6rem;
     //   padding-top: .5em;
     // }

     // .imax {
     //   margin-top: 7.8rem;
     // }
     // .iphonex {
     //   margin-top: 6.8rem;
     //   .finput {
     //     margin-top: .7em !important;
     //   }
     // }

     // .iPhoneXR {
     //   margin-top: 7rem;
     //   .finput {
     //     margin-top: .5em !important;
     //   }
     // }

     // .isandroid {
     //   margin-top: 3.4rem;
     // }

     // .huawei {
     //   margin-top: 6.8rem;
     //   .finput {
     //     margin-top: .2em !important;
     //   }
     // }
     ion-segment {
       background: white;

       .segbtn {
         display: flex;
         align-items: center;
         justify-content: center;
         border: none !important;
         height: 3.6rem !important;
         font-size: 1.6rem !important;

         &:first-of-type::before {
           content: '';
           height: 65%;
           background: #ab253a;
           width: 1px;
           display: block;
           position: absolute;
           right: 0;
           top: 50%;
           transform: translateY(-50%);
         }
       }

       .segment-activated {
         color: #ab253a !important;
         position: relative;
         background-color: transparent !important;
       }

       .segment-activated:after {
         content: '';
         width: 50%;
         background: #ab253a;
         height: 1px;
         display: block;
         position: absolute;
         bottom: 0;
         left: 50%;
         transform: translateX(-50%);
       }
     }

     ion-content {
       font-size: 1.6rem !important;

       .mfab {
         display: flex;
         width: 100%;
         color: #807c7c;
         background: white;
         justify-content: space-around;
         background: white;
         bottom: 0;
         border-top: 1px solid #c1bebe;
         height: 66px;
         padding-top: 2px;

         button {
           background-color: transparent;
           width: 25%;
           padding: 0;
           color: #807c7c;

           ion-icon {
             display: none;
           }

           .button-inner {
             display: block;
           }

           .fabtn {
             display: block;
             line-height: 28px;
           }
         }

         .actived {
           color: #ab253a !important;

           &:after {
             content: '';
             width: 30%;
             background: #ab253a;
             height: 1px;
             display: block;
             position: absolute;
             bottom: 0;
             left: 50%;
             transform: translateX(-50%);
           }
         }
       }

       .mseg {
         height: 4.2rem;
         padding-top: 0;
         top: 0;

         button {
           width: 50%;
           height: 100%;

           .button-inner {
             height: 4.2rem;
             display: flex;
             align-items: center;
             font-size: 1.6rem;
           }
         }
       }

       .fab-ios.activated {
         background-color: transparent;
       }


       .layout {
         background: #eee;
         overflow: hidden;
         .finput {
           margin-bottom: .5em;
           background: white;
           font-size: 1.4rem;
           padding: 0 16px;
         }

        .box {
            background: white;
           .mitem {
            width: calc( 100% - 32px );
            margin: 0 auto;
             position: relative;
             height: calc( 50vh / 7 );
             display: flex;
             align-items: center;
             justify-content: space-between;
             border-bottom: 1px solid #e2e1e1;
             &:last-of-type {
               border-bottom: none;
             }
              .detail {
                justify-content: space-between;
                min-width: 25%;
                display: flex;
                align-items: center;
                width: calc(100% - 60px);
   
                .left {
                  width: 38%;
                  display: flex;
                  align-items: center;
                  padding-left: .4em;
   
                  .text-input {
                    margin: 8px;
                    width: calc(100% - 16px);
                    text-align: center;
                  }
                }
   
                .btns {
                  width: 58%;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
   
                  .mbtn {
                    background: transparent;
                    border: 1px solid #ab253a;
                    color: #ab253a;
                    padding: 0 .5em;
                    margin: 0;
                  }
   
                  .actived {
                    background: #ab253a;
                    color: white;
                    border: none;
                  }
                }
   
                .red {
                  color: #ab253a;
                }
   
                ion-icon {
                  font-size: 3rem;
                  color: gray;
                  position: relative;
                  z-index: 89;
                }
              }
            .label {
               color: gray !important;
               font-size: 1.4rem;
               min-width: 60px;
             }
             .detail {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 70vw;
             }

             .lac {
               min-width: 75px;
               margin-right: 0;
             }

             ion-input {
               font-size: 1.4rem;
               padding-left: 0 !important;
             }

             ion-datetime {
               position: relative;
             }

             .unit {
               color: gray;
               font-size: 1.4rem;
             }

             .red {
               color: #ab253a;
             }

             .weektext {
               i {
                 color: #ab253a;
                 font-style: normal;
               }
             }
           }
         
         }

         .list-ios>.item-block:first-child,
         .list-ios>.item-block:last-child,
         .list-ios>.item-wrapper:last-child .item-block {
           border-top: none;
         }

         .list-ios>.item-block:last-child {
           border-bottom: none !important;
         }

         .list-ios>.item-block:last-child .item-inner {
           border-bottom: 0.55px solid #c8c7cc;
         }

         .cards {
          height: calc( 100% - ( 50vh / 7 ) * 7 );
           .mgrid {
             background: #eee;
             height: calc( 100% - .2em );
             margin-top: .2em;
             .mrow {
               display: flex;
               justify-content: space-between;
               padding: 0 16px;
               height: 48%;
               margin: 1% 0;
               .mcol {
                 width: 49%;
                 text-align: center;

                 h5 {
                   background: #bbb4b4;
                   padding: 5px 0;
                   color: white;
                   border-radius: 6px 6px 0 0;
                   margin: 0;
                   position: relative;
                   font-size: 1.4rem;
                   height: 31%;

                   ion-icon {
                     font-size: 2rem;
                     color: white;
                     position: absolute;
                     right: .5em;
                     top: 50%;
                     transform: translateY(-50%);

                     &:focus {
                       outline: none;
                     }
                   }
                 }

                 .cont {
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   border-radius: 0 0 6px 6px;
                   background: white;
                   height: 65%;

                   span {
                     &:first-of-type {
                       margin: 0 8px;
                       font-weight: 600;
                       font-size: 1.8rem;
                     }
                   }
                 }
               }
             }
           }
         }
         .lacc {
           margin-top: 1rem;
           .mrow {
             &:last-of-type {
              margin: 2% 0;
             }
           }
         }
       }

      
     }
   }
