   page-home {
    
    .mform {
      margin-top: 5.6rem;
      padding-top: .5em;
    }
    .imax {
      margin-top: 8rem;
    }
    .isandroid {
      margin-top: 3.2rem;
    }
     ion-segment {
       background: white;

       .segbtn {
         display: flex;
         align-items: center;
         justify-content: center;
         font-size: 15px;
         border: none !important;
         height: 3.6rem !important;
         font-size: 1.6rem!important;
       }

       .segment-activated {
         color: #ab253a !important;
         position: relative;
         background-color: transparent !important;
       }

       .segment-activated:after {
         content: '';
         width: 30%;
         background: #ab253a;
         height: 1px;
         display: block;
         position: absolute;
         bottom: 0;
         left: 50%;
         transform: translateX(-50%);
       }
     }

     .mfix {
       position: fixed;
       z-index: 99;
       top: 4.4rem!important;
       left: 0;
     }

     ion-content {
       .mfab {
         display: flex;
         width: 100%;
         color: #807c7c;
         background: white;
         justify-content: space-around;
         background: white;
         bottom: 0;
         border-top: 1px solid #c1bebe;
         height: 66px;
         padding-top: 2px;

         button {
           background-color: transparent;
           width: 25%;
           padding: 0;
           color: #807c7c;

           ion-icon {
             display: none;
           }

           .button-inner {
             display: block;
           }

           .fabtn {
             display: block;
             line-height: 28px;
           }
         }

         .actived {
           color: #ab253a !important;

           &:after {
             content: '';
             width: 30%;
             background: #ab253a;
             height: 1px;
             display: block;
             position: absolute;
             bottom: 0;
             left: 50%;
             transform: translateX(-50%);
           }
         }
       }

       .mseg {
         height: 4.2rem;
         padding-top: 0;
         top: 0;
         button {
           width: 50%;
           height: 100%;
           .button-inner {
              height: 4.2rem;
              display: flex;
              align-items: center;
              font-size: 1.6rem;
           }
         }
       }

       .fab-ios.activated {
         background-color: transparent;
       }


       .layout {
         background: #eee;
         min-height: 100%;
        //  margin-bottom: 66px;
         overflow: hidden;
         overflow-y: auto;
         -webkit-overflow-scrolling: auto;
         margin-top: 4.4rem;

         .finput {
           margin-bottom: .5em;
           background: white;
           font-size: 15px;
           padding: 0 16px;
         }

         ion-list {
           margin-bottom: 0;

           ion-item {
             padding-right: 10px;
             position: relative;

             ion-label {
               color: gray !important;
               font-size: 15px;
               min-width: 60px;
             }

             .lac {
               min-width: 75px;
               margin-right: 0;
             }

             ion-input {
               font-size: 15px;
               padding-left: 0 !important;
             }

             ion-datetime {
               width: 100%;
               text-align: left;
             }

             span {
               color: gray;
               font-size: 15px;
             }

             .red {
               color: #ab253a;
             }

             .weektext {
               i {
                 color: #ab253a;
                 font-style: normal;
               }
             }
           }
         }

         .list-ios>.item-block:first-child,
         .list-ios>.item-block:last-child,
         .list-ios>.item-wrapper:last-child .item-block {
           border-top: none;
         }

         .list-ios>.item-block:last-child {
           border-bottom: none !important;
         }

         .list-ios>.item-block:last-child .item-inner {
           border-bottom: 0.55px solid #c8c7cc;
         }

         .cards {
           ion-label {
             color: gray !important;
             font-size: 15px;
             min-width: 60px;
           }

           .right {
             justify-content: space-between;
             min-width: 25%;
             display: flex;
             align-items: center;
             width: calc(100% - 60px);

             .left {
               width: 38%;
               display: flex;
               align-items: center;
               padding-left: .4em;

               .text-input {
                 margin: 8px;
                 width: calc(100% - 16px);
                 text-align: center;
               }
             }

             .btns {
               width: 58%;
               display: flex;
               align-items: center;
               justify-content: space-between;

               .mbtn {
                 background: transparent;
                 border: 1px solid #ab253a;
                 color: #ab253a;
                 padding: 0 .5em;
                 margin: 0;
               }

               .actived {
                 background: #ab253a;
                 color: white;
                 border: none;
               }
             }

             .red {
               color: #ab253a;
             }

             ion-icon {
               font-size: 3rem;
               color: gray;
               position: relative;
               z-index: 89;
             }
           }

           .mgrid {
             background: #eee;
             padding-bottom: .5em;

             .mrow {
               display: flex;
               justify-content: space-between;
               padding: 0 16px;
               margin: .3em 0;

               .mcol {
                 min-width: 45%;
                 text-align: center;

                 h5 {
                   background: #bbb4b4;
                   padding: 5px;
                   color: white;
                   border-radius: 6px 6px 0 0;
                   margin: .5em 0 0 0;
                   position: relative;
                   font-size: 15px;

                   ion-icon {
                     font-size: 2rem;
                     color: white;
                     position: absolute;
                     right: .5em;
                     top: 50%;
                     transform: translateY(-50%);

                     &:focus {
                       outline: none;
                     }
                   }
                 }

                 .cont {
                   min-height: 5rem;
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   border-radius: 0 0 6px 6px;
                   background: white;

                   span {
                     &:first-of-type {
                       margin: 0 8px;
                       font-weight: 600;
                       font-size: 18px;
                     }
                   }
                 }
               }
             }
           }
         }
       }

       .days {
         padding: 0 16px;
         display: flex;
         background: white;
         align-items: center;
         height: 3.2rem;
         min-height: 4.4rem;

         .lab {
           color: gray;
           font-size: 15px;
           width: 60px;
           display: block;
         }
       }
     }
   }
