   
    page-home {
        ion-content {
            .layout {
              background: #eee;
              height: 100%;
      
              ion-segment {
                background: white;
      
                ion-segment-button {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: gray!important;
                  font-size: 15px;
                  border: none!important;
                }
      
                .segment-activated {
                  color: orange!important;
                  position: relative;
                  background-color: transparent!important;
                }
      
                .segment-activated:after {
                  content: '';
                  width: 30%;
                  background: orange;
                  height: 1px;
                  display: block;
                  position: absolute;
                  bottom: 0;
                }
              }
      
              .finput {
                margin: 1em 0;
                background: white;
                font-size: 15px;
                padding: 0 16px;
              }
      
              ion-list {
                margin-bottom: 0;
      
                ion-item {
                  padding-right: 10px;
                  position: relative;
      
                  ion-label {
                    color: gray!important;
                    margin-top: 12px;
                    font-size: 15px;
                    width: 60px;
                  }
      
                  ion-input {
                    font-size: 15px;
                    padding-left: 0!important;
                    max-width: 70%;
                  }
      
                  ion-datetime {
                    // position: absolute;  
                    left: 4em;
                    padding-left: 0px;
                    // width: 28%;
                    width: 75%;
                  }
      
                  span {
                    color: gray;
                    font-size: 15px;
                  }
      
                  .week {
                    position: absolute;
                    left: 45%;
                  }
      
                  .red {
                    color: red;
                  }
                }
              }
      
              .cards {
                ion-label {
                  color: gray;
                  font-size: 15px;
                }
      
                .right {
                  justify-content: space-between;
                  min-width: 25%;
                  display: flex;
                  align-items: center;
                  padding-right: 16px;
      
                  .red {
                    color: red;
                  }
      
                  ion-icon {
                    font-size: 1.4rem;
                    color: gray;
                  }
                }
      
                .mgrid {
                  background: #eee;
                  padding-bottom: .5em;
      
                  .mrow {
                    display: flex;
                    justify-content: space-between;
                    padding: 0 16px;
                    margin: 1em 0;
      
                    .mcol {
                      min-width: 45%;
                      text-align: center;
      
                      h5 {
                        background: #bbb4b4;
                        padding: 5px;
                        color: white;
                        border-radius: 6px 6px 0 0;
                        margin: .5em 0 0 0;
                        position: relative;
                        font-size: 15px;
      
                        ion-icon {
                          font-size: 1.4rem;
                          color: white;
                          position: absolute;
                          right: .2em;
                          top: 50%;
                          transform: translateY(-50%);
      
                          &:focus {
                            outline: none;
                          }
                        }
                      }
      
                      .cont {
                        min-height: 3rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 0 0 6px 6px;
                        background: white;
      
                        span {
                          &:first-of-type {
                            margin: 0 8px;
                            font-weight: 600;
                            font-size: 18px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
    }