// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-header {
  ion-toolbar {
    background: #ab253a;
    color: white;
  }
}

.btn {
  z-index: 99;
  font-size: 1.8rem;
  background: transparent;
  display: flex;
  align-items: center;
  color: white;
  outline: none;

  ion-icon {
    color: white;
    margin-right: .3em;
  }
}

.back {
  float: left;
}

.tool {
  float: right;

  span {
    font-size: 22px;
  }
}

.toolbar-background {
  background: transparent !important;
  border-bottom: none !important;
}

.toolbar-title {
  color: white;
}

ion-app.ios [padding] {
  padding: 0;
}

.label-ios+ion-input .text-input,
.label-ios+ion-textarea .text-input,
.label-ios+.input+.cloned-input {
  margin-left: 0;
}

.segment-ios .segment-button {
  color: gray;
}

:host {
  --highlight-color-focused: var(--ion-color-primary, #3880ff);
  background: #eee;
}

.cus-toast .toast-wrapper,
.cus-toast .loading-wrapper {
  border: 1px solid #ab253a;
  color: #ab253a;
  text-align: center;
  background: white;
  width: 60%;

  .toast-container {
    border: 1px solid !important;

    .toast-message {
      color: #ab253a;
    }
  }
}

.share-action {
  .action-sheet-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon-wechat:before,
  .icon-wechat_timeline:before {
    color: green;
    position: relative;
    left: 25%;
  }
}

.scroll-content {
  background: #eee;
  -webkit-overflow-scrolling: auto;
  margin-top: 0!important;
}

body {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

.tabs-ios[tabsLayout=icon-hide] .tab-button,
.tabs-ios .tab-button.has-title-only {
  color: #8c8c8c;
}

.tabs-ios .tab-button:hover:not(.disable-hover),
.tabs-ios .tab-button[aria-selected=true] {
  color: #8c8c8c;
}

.tabs-ios .tab-button-icon {
  min-width: 30px;
}

ion-header {
  height: 4.4rem !important;

  ion-toolbar {
    height: 100%;
  }
}
