// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-header {
  ion-toolbar {
    background: orange;
    color: white;
    position: relative;
    ion-title {
      background: orange;
      color: white;
    }

    .back {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 16px;
      z-index: 1;
      width: 5rem;
      font-size: 1rem;
      background: transparent;
      display: flex;
      align-items: center;
      color: white;
      outline: none;

      ion-icon {
        color: white;
      }
    }
  }
}

.cus-toast {
  border: 1px solid orange;
  color: orange;
  text-align: center;

  .toast-container {
    border: 1px solid !important;
  }
}